.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.modal__open-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    background-color: rgb(210, 161, 255);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    /* box-shadow: -5px -5px 0 0 purple; */
    box-shadow: inset 0 0 6px 0 #c000ff,
    0 0 0 3px #c000ff,
    0 0 6px 3px #c000ff,
    0 0 0 7px #18191C,
    0 0 0 10px #6e4aff,
    0 0 6px 10px #6e4aff,
    0 0 0 14px #18191C,
    0 0 0 17px #c000ff,
    0 0 6px 17px #c000ff;;

}

.modal__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__modal {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    position: relative;
    background-color: #fff;
}

.modal__close-btn {
    background-image: url(../../utils/images/close-icon.svg);
    width: 32px;
    height: 32px;
    background-color: transparent;
    position: absolute;
    top: -32px;
    right: -32px;
    cursor: pointer;
    border: 0;
    padding: 0;
}

.modal__content {
    
}